
#tableCalendar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	background:#AAA;
	border-spacing:2px;
	margin:0px auto 0px;
	border:2px solid #AAA;
	width:175px;
}

#tableCalendar .calHeader {
	font-size:1em;
	text-align:center;
	padding:3px;
	background:#CCC;
}

#tableCalendar .calHeader a{
	color:#000;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
}

#tableCalendar .dayTitles {
	padding:3px;
	background:#333;
	color:#fff;
}

#tableCalendar .dayTitles, .todayCell, .dayCell, .nodayCell{
	text-align:center;
	padding:2px;
}

#tableCalendar .todayCell {
	background:#666;
	color:#FFF;
}

#tableCalendar .dayCell  {
	background:#CCC;
}

#tableCalendar .closeCell  {
	background:url(../images/bck_column_customize.gif) repeat-x;
	text-align:right;
}

#tableCalendar .closeCell span{
	float:left;
	font-weight:bold;
	font-size:12px;
	padding:3px 0 0 3px;
}

#tableCalendar .closeCell a {
	color:#333;
	font-weight:bold;
	text-decoration:none;
	font-variant:small-caps;
}

#tableCalendar .nodayCell  {
	background:#DDD;
	color:#AAA;
}

#tableCalendar  #calMonth, #calYear {
	border:1px solid #ccc;
	padding:1px; 
}

#tableCalendar #calMonth{
	font-size:9px;
	width:90px;
}

#tableCalendar #calYear{
	font-size:9px;
	width:50px;
}

#tableCalendar .todayCell:hover, #tableCalendar .dayCell:hover{
	background:#FFF;
	color:#666;
}
