﻿body {



 padding: 20px;



 /*background: #4c4c4c url(../images/grad1.png) 0 0 repeat-x;*/



background: white;/*color fondo de las grillas*/



 line-height: normal;



}



/* 



	es: Tabla del grid



	en: DataGrid Table



*/







.dgTable td{



	overflow:hidden;



}







.dgTable 



	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;


	}







.dgHeader, .dg_dataTable .editTitle	/* Titulo del grid *//* DataGrid Title */

	{ 

		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		text-align:center;

		/*background: url(../images/bck_title.gif) repeat-x 0 -1px;*/
		background: transparent;
		border: 1px solid #fff;
		font-weight:bold;
		display:block;

	}







.dgTable .dgToolbar	/* Toolbar */



	{

/*		background: #F0F0F0 url(../images/bck_toolbar.gif) repeat-x top;*/
		background: transparent;

	border:0px solid #ccc;
	font-weight:normal;
	font-size: 12px;

}







.dgTable .dgToolbar div.btnseparator	/* Separador de la barra de iconos *//* Toolbar Separator */



	{



		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
border-top:1px solid #fff;


	}







.dgTable .dgTitles /* espacio Titulo de cada columna *//* column titles */



	{

		background: white ;
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		border-top:1px solid #fff;
		border-bottom: 1px solid #ccc;
		border-top:0px;
		font-size: 12px;
}




.dgTable .dgTitles .ordered /* Titulo de cada columna ordenada *//* ordered column titles */



	{

		/*background: #CBD8D1 url(../images/bck_column_ordered.gif) repeat-x top;*/



	}



.dgTable .SelectLines



	{


		border:1px solid #ccc; 



		font-size:12px;







	}







.dgTable .dgSelectpages, .dgTable .dgSelectnormal 



	{



		border:1px solid #ccc; 



		font-size:10px;







	}







.dgSearchDivInline, .dgExportDivInline	/* Barra de búsqueda y exportación en línea */



	{



		margin: 5px 0 3px 5px;



		line-height:30px;



		height:30px;



	}







.dgRowsnormTR /* Color de las filas *//* Rows Color */



	{



		background:#fff; 
border:1px solid #ccc;


	}







.dgRowsaltTR /* Color alterno de las filas *//* Alternate Rows Color */



	{



		/*background:#f5f5f5	;*/
		background:#fff;



	}







.dgRowsnormTR:hover, .dgRowsaltTR:hover /* Colores de las filas *//* Rows Colors */



	{



		background: #f5f5f5;



	}







.dgSelRow /* Color de las filas seleccionadas *//* Selected rows color */



	{



		background-color:#E3EAED;



	}







.dgSelRowDetails /* Color de las filas seleccionadas en mantenimientos maestro detalle *//* Selected rows color in master details maintenance */



	{



		background-color:#FF6;



	}







.dgRowalt div input, .dgRownorm div input /* Cuadros de lectura de datos *//* Input fields */



	{



		font-size:22px;



		border:1px solid #ccc;



		background:#eee;



		color:#900;



	}







.dgInnerDiv .dg_dataTable thead tr th



	{



		background:white;/*aca*/



		padding:10px 0 0px 0;



	}







.dgInnerDiv .dg_dataTable tfoot tr th



	{



		background:#F0F0F0;/*color fondo botones (Cancelar y Guardar) Ventana Modal*/



		/*color:blue;*/



	}







.dgInnerDiv .dg_dataTable tbody tr td.dgAddInputs input, .dgInnerDiv .dg_dataTable tbody tr td.dgAddInputs textarea



	{



		font-family: Arial, Helvetica, sans-serif;



		font-size:15px;



	}







/* Ventana indicadora de procesos AJAX */



/* Floating AJAX loading Window */



.dgAjax



	{



		font-family:Verdana, Arial, Helvetica, sans-serif;



		font-size:12px;



		font-weight:bold;



		background-color:#FFFFE1; 



		border-style: dotted; 



		border-width: 2px; 



		padding: 4px;



	}







/* Loading en toolbar */



/* Toolbar loading */



.dgToolbar .dgAjax{



	font-family:inherit;



	font-size:inherit;



	background:none;



	border:none;



}







/* Ventanas flotantes de búsqueda y exportación */



/* Floating search and export windows */



.dgSearchDiv 



	{



		background:#F0F0F0;/*Borde Superior y Laterales Ventana Modal*/
		border:1px;

	}







.dgInnerDiv 



	{



		font-family: Arial, Helvetica, sans-serif;



		font-size: 11px;



		background:#F5F5F5;



	}



	



.dgSearchTit /*titulo ventana buscar y exportar */



	{



		font-family:Arial, Helvetica, sans-serif;



		color:black;

		font-weight:bold;


	}







.dgPagRow



	{



		background:#EFEFEF;



		border-top:solid 5px #C0C0C0;



		font-size:9px;



	}







/* celdas de total */ /* Total cells */



.dgRowsTot



	{



		border-top:10px solid #CCC;



		background:#efefef;



	}







.dgTable .dgToolbar div a.fbutton:hover



	{



		border: 1px solid #ccc;



	}



								



/* Mensajes de ayuda al usuario *//* Input help Message */



.dgMsgInput{color:#00F;}







/* Error al validar un campo *//* A field do not pass 



the validation */



.dgErrorInput{color:#F00;}



								



																																 /* 



--------------------------------------------------------------------------------------------------------------------------------



	es: Por favor no modifique características importantes a partir de este punto a no ser que usted sepa lo que esté haciendo 



	en: Please do not modify the definitions below unless you know what you are doing 



-------------------------------------------------------------------------------------------------------------------------------- */







.dgTable img



	{



		border:0;



	}







/* 



	es: Titulo del Grid 



	en: DataGrid title



*/



.dgHeader, .dg_dataTable .editTitle/*posicion titulo*/



	{ 



		border-top: 0px;



		overflow: hidden;



		white-space: nowrap;



		line-height:28px; 



		text-align:left; 



		padding-left:5px;



	}







/* Toolbar */



.dgTable .dgToolbar /*posicion buscar toolbar*/



	{



		line-height:26px;



		overflow: hidden;



		text-align:left;



		padding:3px 0 0px 0px;



	}







.dgTable .dgToolbar div.btnseparator



	{



		float: left;



		height: 22px;



		margin: 1px 1px 1px 2px;



	}







.SelectLines, .dgLinks, .dgBold, .dgSelectpages, .toolbarItem



	{



		line-height: 22px;



		margin: 1px 5px 1px 5px;



	}







.dgToolbar .SelectLines, .dgToolbar .dgLinks, .dgToolbar .dgBold, .dgToolbar .dgSelectpages, .dgToolbar .toolbarItem



	{



		float: left;



		line-height: 22px;



		margin: 1px 5px 1px 5px;



	}







.dgTable .dgToolbar .dgInputPage



	{



		float:left;







	}



	



.dgTable .dgInputPage



	{



		height:18px;



		padding:1px;



		margin: 1px 5px 1px 5px;



		width:30px;



		border:11px solid #ccc; 



	}



	



.dgTable .dgToolbar div a.fbutton



	{



		line-height:25px;



		float: left;



		display: block;



		cursor: pointer;



		padding: 1px;



		text-decoration:none;



		color:#000;



	}







.dgTable .dgToolbar div label, .dgTable .dgToolbar div select



	{



		margin:0px 5px;



		float:left;



	}







.dgTable .dgToolbar div select



	{



		margin:4px 5px 0px 5px;



		font-size:10px;



	}







.dgTable .dgToolbar div a.fbutton img



	{



		padding-top:3px;



	}



	



.dgTable .dgToolbar div a.fbutton div



	{



		padding: 0px 1px;



	}



	



.dgTable .dgToolbar div a.fbutton span



	{



		float: left;



		display: block;



		padding-left: 3px;



	}







.dgTable .dgToolbar div a.fbutton:hover



	{



		height: 22px;



		padding: 0px;



	}







.dgTable .dgToolbar div a.fbutton:hover div



	{



		padding: 0px 0px;



		border-left: 1px solid #fff;



		border-top: 1px solid #fff;



		border-right: 1px solid #eee;



		border-bottom: 1px solid #eee;



	}		



	



/* Ttulo de cada columna *//* Column Titles */



.dgTable .dgTitles



	{



		overflow: hidden;

		font-weight:bold;


	}







.dgTable .dgTitles:hover



	{ 



		border-bottom:1px solid #ffc83c; 



	}







.dgTable .dgTitles .titleContainer /*tamaño,letra color etc  titulos de la columna*/



	{



		width:100%;



		min-height:25px;



		height:25px; 



		border-collapse:collapse;



		font-size: 13px;



		font-weight:bold;







	}







.dgTable .dgTitles .titleContainer .dgArrows



	{



		width:10px; 



	}







.dgTable .dgTitles .titleContainer .up 



	{



		vertical-align:bottom; 



		padding-bottom:1px;



	}



	



.dgTable .dgTitles .titleContainer .dn 



	{



		vertical-align:top; 



		padding-top:1px;



	}







.dgSearchDivInline, .dgExportDivInline



	{



		display:none;



		width:100%;



		overflow: hidden;



		text-align:left;



		font-weight:normal;



	}







.dgExportDivInline



	{



		vertical-align:middle;



		clear:both;



		height:28px;



	}







.dgRownorm, .dgRowalt 



	{ 



		padding:5px;



	}



	



/* estilo para cada uno de los div's que se encuentran en las celdas de la tabla */



/* Style for each div inside table cells */



.dgRownorm div, .dgRowalt div



	{ 



		display:block;



		height:100%; 



		width:100%;



		overflow:hidden;



	}







.dgRowalt div input, .dgRownorm div input



	{



		width:100%;



		padding:3px;



	}



	



.pointer



	{



		cursor:pointer;



	}







.dgImgLink



	{



		padding:2px;



		cursor:pointer;



	}







.imgSearch



	{



		line-height:28px;



		margin-left:10px;



	}







.exportBtn



	{



		border:1px solid #666;



	}







td.dgError



	{



		padding:10px;



		background:#EFEFEF;



		text-align:center;



		font-weight:bold;



		font-style:italic;



	}



	



/* Estilo para tabla de adicion/edicion/visualizacion de datos */



/* Styling for add/edit/view */



.dgInnerDiv



	{



	width:80%;



	height: 80%;


	}







.dgInnerDiv .dg_dataTable



	{



	width:100%;



	border-collapse:collapse;



	font-size: 11px;



	}







.dgInnerDiv .dg_dataTable thead tr th



	{



		text-align:center;



		padding:10px 0 10px 0;




	}







.dgInnerDiv .dg_dataTable tfoot tr th



	{



		text-align:left;



		padding:10px 0 10px 0;



	}







.dgInnerDiv .dg_dataTable tfoot tr th .edtBtns/*posicion de botones grabar y cancelar */



	{



		padding:15px 0 0 0;



		text-align:center;



		width:50%; 



	}



	



	/*alineacion de campos en editar visualizar y adicionar*/



.dgInnerDiv .dg_dataTable tbody tr td.dgAddNames



	{



	text-align:left;



	font-weight:bold;



	/*alto*/



	padding:5px 8px 2px 20px;



	/*padding-left:20px;*/



	vertical-align:top;



	width:100px;



	font-size: 11px;



	}







.dgInnerDiv .dg_dataTable tbody tr td.dgAddInputs



	{



		text-align:left;



		padding:5px 0 5px 8px;



	}







.dgInnerDiv .dg_dataTable tbody tr td.dgAddInputs input, .dgInnerDiv .dg_dataTable tbody tr td.dgAddInputs textarea



	{



	padding:2px;



	font-size: 11px;



	}







/* Error messages */



/* Mensajes de error */



.dgError{



	margin:50px 30px 0px 30px;



	background-color:#EFEFEF;



	border:none;



	padding:10px;



	font-weight:bold;



	text-align:center;



	color:#666;







}







/* Ventanas flotantes de búsqueda y exportación */



/* Floating search and export windows */



.dgSearchDiv 



	{



		position:fixed;



		top: 0; left:0;



		width:300px; 



		height:150px;



		z-index: 10000; 



		display: none; 



		opacity: 0; -moz-opacity: 0; -khtml-opacity: 0;



	}







.dgInnerDiv 



	{



		margin:28px 3px 0 3px;



		height:118px;



		width:98%;



	}



	



.dgSearchTit 



	{



		width:250px; 



		font-weight:bold;



		cursor:move;



		float:left;



	}







.dgSearchTit img



	{



		margin:3px 3px 0 3px;



	}







/* Ventana flotante de exportacion */



/* Floating export window */



.DG_xportDIV



	{



		height:247px;



	}



	



.DG_subdivxport



	{



		height:215px;



	}







/* Botones de exportación en ventana flotante */



/* Buttons in the export floating window */



.dgRadioBg



	{	



		padding:15px; 



	}



	



.dgRadioBg img



	{ 



		margin-left:4px; 



	}











/* linea de paginacion */



/* Pagination line */



.dgImgPags



	{



		cursor:pointer;



		padding:0px;



	}







/* celdas de total */



/* Total cell */



.dgRowsTot



	{



		padding:5px 0;



	}







/* Manejo de capas *//* Layers Management */



.opaque



	{



		height: auto;



		width : 600px;



		display: block; 



		opacity: 100;



		-moz-opacity: 100;



		-khtml-opacity: 100;



	}







.dgAddDiv/*detrás de ventana modal*/



	{



		position:fixed;



		top: 0%; left: 0%;



		width: 110%; height: 110%;



		z-index:101;



		background-color: #C6C4C4;



		opacity:.8;



		-moz-opacity: 0.5; 



		-khtml-opacity: 0.5;



	}







.opaque .dgSearchTit 



	{



		width:560px;



	}







.dg_node{



    display:block;



    width:50%;



    margin-left:50%;



    height: 50%;



    border-left: 1px dotted #111;



    border-bottom: 1px dotted #111;



}







.titleContainer td a{



    color:#222;



    outline: none;



}







.orderedDatanorm{/*color de las filas ordenadas*/



    background: #fff;



}







.orderedDataalt{/*color alterno de las filas ordenadas*/



    background: "#f5f5f5;



}