.texto_azul {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0A1B91;
	font-weight: bolder;
}
.texto_azul_claro {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #0A1B91;
	font-weight: normal;
}
.tablas{
	background-color:#FFFFFF;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
  box-shadow: 3px 3px 9px #630;
   -webkit-box-shadow: 3px 3px 9px #630;
   -moz-box-shadow: 3px 3px 9px #630;
}
.imputs{
	background-color:#FFFF99;
	width:226px;
	height:28px
	font-family: DIN-Regular;
	color: #003366;
	font-size: 16px;
	border: 0px none #FFFF99;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
.boton{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #56790c;
	font-size: 14px;
	background-color:#99CC00;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	box-shadow: 3px 3px 9px #333;
   -webkit-box-shadow: 3px 3px 9px #333;
   -moz-box-shadow: 3px 3px 9px #333;
	cursor:pointer;
	border:none;
	font-weight: bold;
	background-image: url(../imagenes/fondo_boton.jpg);
	height: 30px;
	width: 90px;
}
.reservados {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #333300;
	font-size: 11px;
}
.redimir {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #56790c;
	font-size: 18px;
}
.desarrollado {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #56790c;
	font-size: 11px;
}
