/*estilos de crear curso*/

* {
  margin: 0;
}

.container-createCourse{

}

.form-createCurso{

}

#Descripcion{
}

#nombreCurso{

}



.Course{
  display: inline-block;
}

.descrip{
  display: block;
}

.loadImage{
    display: inline-block;
    vertical-align: top;
  }


.containerTest{
    padding: 2em;
    box-sizing: border-box;
  }

.namesModuleTheme{
    padding: 2em;
    box-sizing: border-box;
    text-align: center;
}

.sendTo{
  display: inline-block;
}

.sendTo>label {
  display: block;
}

.sendToList{
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-top: 1em;
}

.sendToList>li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.sendTo-item{
  margin: 3px 7px 18px 24px;
}

.sendTo-name {
      margin: 0px 39px 13px 0;
}

.typeCourse{

}




.containerInsertAnimations{
  padding: 1em;
  box-sizing: border-box;
  height: 15em;
}

.sounds{
  width: 19%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 100%;
}

.selectSounds{

}

.InserAnimations{
  width: 49%;
  display: inline-block;
  height: 100%;
}

.gifs{
  width: 29%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 100%;
  border: 2px solid;
}

.containerTest{

}

.test{
}

.typeQuestion{

}

.question1,
.question2,
.question3,
.question4,
.question5{
  margin-bottom: 1em;
}



.testTo>label{
  display: block;
}

.testList{
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-top: 1em;
}

.testList>li{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.questionAsk{
  margin: 3px 7px 18px 24px;
}

.test-name{
  margin: 0px 39px 13px 0;
}

.ask2{
  margin-left: 7em;
  padding: 2em;
  box-sizing: border-box;
}

.inputFormValidation{
  vertical-align: top;
}
/*fin de estilos de crear curso*/


/*estilos de lista curso*/
* {
  margin: 0;
}

.title{
  text-align: center;
}

.containerInformationCurso{
  margin: 1em;
  border: black solid 2px;
}


.informationCurso {
  width: 35%;
  height: 100%;
  padding: 1em;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.imageContainer{
  width: 15em;
  display: inline-block;
  text-align: left;
  height: 100%;
  vertical-align: top;
  margin-top: 1em;
}

.listInformationCurso{
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-top: 1em;
}

.listInformationCurso>li{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0px 0px 1em 0px;
}





.containerModuleTheme{
  padding: 1em;
  box-sizing: border-box;
  margin: 1em;
  border: black solid 2px;
}

.containerModuleThemeView{
  padding: 1em;
  box-sizing: border-box;
  margin: 1em;
  border: black solid 2px;
  text-align: center;
}

.ModuleTheme{
  text-align: center;
}



.question{
  padding: 1em;
      padding: 1em;
    border: #ccc dashed 1px;
}




#SeccionMultimedia{
  display: flex;
  padding: 0 5em;
}

#multimediaviews{
  flex: 1 auto;
  order: 1;
  width: 10em;
  border:1px solid #ccc;
  background-color: #ededed;
  padding: .5em .5em 0 .5em;
  max-height: 39.5em;
  overflow-y: scroll;
}


#ContenedorEditor{
  flex: 3 auto;
  order: 2;
  width: 40em;
  max-height: 40.2em;
}

.multimediaviews-View{
  width: 100%;
  height: 10em;
  background-color: white;
  margin-bottom: .5em;
}

.imageFigure{
  max-width: 15em;
    max-height: 15em;
    width: 15em;
    height: 15em;
    
}

.imageFigure-img{
  max-width: 15em !important;
    max-height: 15em;
    width: 15em;
    height: 15em !important;
}

.imageContainer a{
  display: block;
}

#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px;
  height:203px;
}

/*estilos Qboletin*/
.containerQboletin{
  padding: 1em;
  box-sizing: border-box;
}

.qboletinPrincipal{
   width: 65%;
   text-align: center;
   height: 100%;
   margin: 0 auto;
 }

.qboletinSecondary,
.qboletinSecond{
    width: 65%;
    margin-left:17%;
    text-align: -webkit-right;
    padding: 2em 0em 2em 0em;
    display: inline-block;
}




#btn_eliminar{
  color: black;
  text-decoration:none;
}

/*switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mce-content-body {
  margin:0;
}

.ModuleTheme-IndexItemRight, .ModuleTheme-IndexItemLeft{
  display: inline-block;
}

.ModuleTheme-IndexItemRight{
  text-align: right;
}

.ModuleTheme-IndexItemLeft{
  text-align: left;
}

.questionDelete{
  float: right;
  margin-bottom: 1.5em;
}

#multimediaeditor_ifr{
  height: 29.7em !important;
}

.question>input{
  margin-top:.5em;
}

.card{
  padding: 2em 0;
}

.switch{
      width: 4em;
    height: 2.5em;
}

.checkbox-point::before{
    left: -4px !important;
    bottom: 2px !important;
}

.containerModuleTheme{
  border: #ccc dashed 2px;
}

.PermisosAdmin{
  display: inline-block;
  vertical-align: top;
  float: right;
  clear: none;
  text-align: center;
}

.PermisosAdmin-link{
  vertical-align: top;
  display: inline-block;
  float: left;
}

.FormBusqueda{
  display: inline-block;
  vertical-align: top;
}

.SectionControl{
  padding: 0 2em;
  text-align: center;
  height: 6em;
}



.sendTo-name, .certificate input, .typeCourse input{
  margin-left: 1em !important;
}

.certificate span, .typeCourse span{
  margin-left: .5em !important;
}

.Course2{
  padding-left: 2em !important;
}

.sendToList{
  margin-top: 0;
}

.questionDelete:hover{
  color: #5bc0de;
}

.NombreCursoInput{
  text-transform: uppercase;
}

.containerInformationCurso{
  border:#ccc dashed 2px;
  padding: 1em;
}

.listInformationCurso label{
  margin-right: 1em;
  font-size: 14px !important;
  color: #5bc0de !important;
}

.controlsBtn{
  margin-top: 1em;
}

.controlVolver{
  margin-left: 2em;
}

.listInformationCurso-texarea{
  width: 100%;
  height: 8em;
  border: none;
  border: #ccc solid 1px;
}

.buttonEditarInfo{
  margin-top: 2em;
}

.ModuleThemeEdit{
  text-align: left;
}

.ModuleThemeEdit-Btn{
  float: right;
}
.main-panel{
      position: initial !important;
}

.NewModulo{
  text-align: center;
}

.NewModuloInput{
  margin-top: 1em;
}

.SeccionMultimediaEditorView{
  padding: 0 !important;
}

.mce-panel{
  border: none !important;
  border-top: #ccc dashed 1px !important;
}

.testName{
  margin-left:1em;
}

.mce-object-iframe{
  width: 100% !important;
}


.qboletin-Item, .qboletin-Item {
    height: 25em;
    max-height: 25em;
    text-align: left;
    border: #ccc solid 1px;
    margin: 2em 0;
}

.qboletin-Item>p, .qboletin-Item>p {
  max-height: 20em;
}

.qboletinPrincipal img, .qboletinSecondary img{
      max-width: 100%;
    max-height: 20.5em;
}