.containerQboletin{
  padding: 1em;
  box-sizing: border-box;
}

.qboletinPrincipal{
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.qboletinSecondary{
  width: 65%;
  margin: 1em auto;
  float: left;

}

.qboletintertiary{
  width: 65%;
  margin: 0 auto;
  float: right;;
}


.postQboletin{
}
