#main{
    display:block;
    width:100%;
    height:100%;
}

.respondCanvas{
    background:#ccc;
    border:1px solid black;
}

#CanvasMultimedia{
    display: flex;
    flex-direction: horizantal;
    height: 100%;
    width: 100%;
}

#MainToolCanvas{
    width: 15em;
    background: #ccc;
}

.MainToolCanvas-subMenuTitle{
    color: white;
}

.MainToolCanvas-subMenu{
    width: 5em;
    height: 5em;

}

.MainToolCanvas-subMenu>figure{
    margin:0;

}

.MainToolCanvas-subMenu  img{
    width: 100%;
    height:100%;

}
